<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="production">
        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <flushLevel>WARN</flushLevel>
        </appender>
        <root level="INFO">
            <appender-ref ref="CLOUD" />
        </root>
    </springProfile>

    <springProfile name="development">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>


    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>


</configuration>
