<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="production">
        <include resource="org/springframework/cloud/gcp/logging/logback-json-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="!production">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>

        <logger name="nl.appsource" level="DEBUG" />

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
